.navbar {
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: flex-end;
    background-color: #090908;
    align-items: center;
    border-bottom: 0.1rem solid aliceblue;
}


.navbar > * {
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Arsenal', sans-serif;
    font-size: 1.3rem;
    color:rgb(0, 99, 230);
}



.navbar > *:hover ,.login-div-nav > *:hover , .logout-div-nav > *:hover {
    background: linear-gradient(to left, #0073f0 , #00e2f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
}

.navbar-logo {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.navbar-logo-img {
    height: 70px;
}

.navbar-logo-text {
    font-size: 1rem;
    font-family: 'Pangolin', cursive;
    background: linear-gradient(to left, #0073f0 , #00e2f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-nav {
    color: aliceblue;
}

.login-btn-nav, .logout-btn-nav{
    vertical-align: middle;
    background: #090908;
    cursor: pointer;
    color: aliceblue;
    text-align: center;
    font-weight: 600;
    font-family: 'Arsenal', sans-serif;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 20px;
    font-size: 1.3rem;
    float: left;
}

.overlay {
    display: none;
}

@media screen and (max-width: 1080px) {

.login-btn-nav, .logout-btn-nav{
    font-size: 1.2rem;
}
    
.navbar{
    justify-content: center;
}
    
    
.navbar > *{
    font-size: 1.2rem;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-logo {
    display: none;
}
    
}

@media screen and (max-width: 550px) {

.login-btn-nav, .logout-btn-nav{
    font-size: 0.8rem;
}

.navbar{
    justify-content: center;
}


.navbar > *{
    font-size: 0.8rem;
    margin-left: 7px;
    margin-right: 7px;
}

.navbar-img {
    display: none;
}

}